# Development Operator Configuration

datadog-operator:
  # Single replica in dev
  replicaCount: 1
  
  # Lower resources
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
